
<div class="sidebar">
  <a href="/logout"><button class="button">Log Out</button></a>
  <br><br>
    <a href="/appointments/new"><button class="button">Create A New Appointment</button></a>  
</div>

<h1>Hello, <%=@user.username%>!</h1>
<br>
<%@appts.each do |a|%>
 <a href="/appointments/<%=a.id%>"><%=a.title.titleize%></a><br>
on <%=a.date%><br>
at <%=a.time%><br><br>
<%end%>
