<%=@appt.title%> <br>
on <%=@appt.date%> <br>
at <%=@appt.time%> <br>
 
<h3>Edit This Appointment:</h3>
<form method="GET" action="/appointments/<%= @appt.id %>/edit">
<input type="submit" value="Edit">
</form>
<br>
<h3>Delete This Appointment:</h3>
<form method="POST" action="/appointments/<%= @appt.id %>">
     <input id="hidden" type="hidden" name="_method" value="DELETE">
 	 <input type="submit" value="Delete">
</form>
<br>
<h3>Back To All</h3>
<a href="/appointments"><button>All Appointments</button></a>
