
<div class="sidebar">
     <a href="/appointments"><button class="button">Appointments</button></a>
    <br><br>
    <a href="/logout"><button class="button">Log Out</button></a>
</div>

<%=@appt.title.strip.titleize%> <br>
on <%=@appt.date%> <br>
at <%=@appt.time.strip.gsub(/\s+/, '').upcase%> <br>
 <br>
<form method="GET" action="/appointments/<%= @appt.id %>/edit">
<input type="submit" class="button1" value="Edit">
</form>
<br>
<form method="POST" action="/appointments/<%= @appt.id %>">
     <input id="hidden" type="hidden" name="_method" value="DELETE">
 	 <input type="submit" class="button1" value="Delete">
</form>

